* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing--moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #464646;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

.container {
  max-width: 1280px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.logo {
  max-width: 238px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.icon-svg {
  width: 100%;
  height: 100%; }

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .button-group .btn {
    margin: 0 20px 0 0; }
    .button-group .btn:last-child {
      margin: 0; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  height: 40px; }

.btn-border {
  border: 1px solid #41B64B;
    border-radius: 60px;
  padding: 5px 20px;
  color: #464646; }
  .btn-border:hover {
    color: #fff;
    background: #41B64B; }

.links-border {
  font-weight: 500;
  color: #464646;
  padding: 0 0 2px;
  border-bottom: 1px dashed #41B64B; }
  .links-border:hover {
    color: #41B64B; }

.links-border-line {
  font-weight: 500;
  color: #464646;
  padding: 0 0 2px;
  border-bottom: 1px solid #41B64B; }
  .links-border-line:hover {
    color: #41B64B; }

.bg-grey {
  background: #F3F3F3; }

.bg-accent {
  background: #41B64B; }

.bg-yellow {
  background: #FFE141; }

h2 {
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
  margin: 0 auto 30px; }

.w-100 {
  width: 100%; }

.mb-80 {
  margin-bottom: 80px; }

.color-accent {
  color: #41B64B; }

.links-cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #464646; }
  .links-cabinet:hover {
    color: #41B64B; }

.links-cabinet__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  min-width: 30px;
  border: 1px solid #41B64B;
    border-radius: 50px;
  padding: 5px;
  margin: 0 0 0 12px; }
  .links-cabinet__icon .icon-svg {
    fill: #464646; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid #41B64B;
    border-radius: 60px;
  color: #464646;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 5px 5px 20px; }
  .phone:hover {
    background: #41B64B;
    color: #fff; }
    .phone:hover .phone-icon {
      background: #fff; }
      .phone:hover .phone-icon .icon-svg {
        fill: #41B64B; }

.phone-icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #41B64B;
  padding: 6px 9px;
  margin: 0 0 0 10px; }
  .phone-icon .icon-svg {
    fill: #fff; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .menu li {
    margin: 0 40px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      font-size: 14px;
      font-weight: 500;
      color: #464646; }
      .menu li a:hover {
        color: #41B64B; }

header {
  margin: 0 0 10px;
  background: #fff;
  padding: 14px 0 16px; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.slick-slide {
  outline: none; }

.main-slider {
  width: 100%;
  background: #FFFFFF; }

.main-slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  border: 20px solid #F3F3F3;
    border-radius: 400px;
  margin: 26px 0 0; }

.main-slider__img {
  max-width: 610px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -50px 0 -15px -20px; }

.main-slider__content {
  width: calc(100% - 610px);
  padding: 14px 0 0 30px; }
  .main-slider__content .text {
    line-height: 30px;
    margin: 0 0 20px;
    max-width: 550px;
    width: 100%; }

.main-slider__title {
  color: #41B64B;
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  margin: 0 0 20px; }

.main-slider__nav {
  margin: -70px auto 0; }

.slider-nav {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.counter-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #464646;
  margin: 0 10px; }
  .counter-slide .cp {
    color: #41B64B;
    margin: 0 3px 0 0; }

.slick-arrow {
  width: 5px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  opacity: 1;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: none;
          transform: none;
  background: transparent; }
  .slick-arrow:before {
    display: none; }

.slick-disabled {
  opacity: 0.3; }

.stages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.stages-box {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
  width: 24%; }
  .stages-box a {
    display: inline; }
  .stages-box:after {
    content: '';
    position: absolute;
    width: 93px;
    height: 8px;
    right: -56px;
    top: 100px;
    background: url("../img/arrow-stage.svg") no-repeat center;
      background-size: contain; }
  .stages-box:last-child:after {
    display: none; }

.stages-box__icon {
  width: 200px;
  height: 200px;
  border: 10px solid #F3F3F3;
    border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 55px 36px; }
  .stages-box__icon .icon-svg {
    fill: none; }

.stages-box__text {
  max-width: 255px;
  width: 100%;
  margin: -30px auto 0;
  line-height: 30px; }

.tabs__caption {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 22px;
  font-size: 14px;
  font-weight: 500; }
  .tabs__caption li {
    margin: 0 10px 0 0;
    padding: 14px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .tabs__caption li:last-child {
      margin: 0; }
  .tabs__caption .active {
    border-bottom-color: #41B64B; }

.tabs__content {
  display: none; }

.tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.tariffs h2 {
  margin: 0 auto 20px; }

.tariffs-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.tariffs-wrapper-content {
  max-width: 315px;
  width: 100%;
  padding: 218px 20px 0;
  line-height: 20px;
  font-size: 14px; }
  .tariffs-wrapper-content p {
    margin: 0 0 20px;
    min-height: 20px; }
    .tariffs-wrapper-content p:last-child {
      margin: 0; }

.tariffs-box {
  border: 1px solid #E5E5E5;
    border-radius: 10px;
  background: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  max-width: 295px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px 20px 40px; }
  .tariffs-box:hover {
    -webkit-box-shadow: 0 0 10px rgba(210, 255, 82, 0.1), 0 0 40px rgba(65, 182, 75, 0.2);
            box-shadow: 0 0 10px rgba(210, 255, 82, 0.1), 0 0 40px rgba(65, 182, 75, 0.2);
    border-color: transparent; }
  .tariffs-box .btn {
    max-width: none;
    width: 100%;
    height: 40px; }
  .tariffs-box .icon-check {
    width: 13px;
    height: 9px;
    fill: none; }

.icon-infinity {
  width: 16px;
  height: 7px;
  fill: #464646; }

.tariffs-box__price {
  width: 100%;
  text-align: center;
  margin: 0 auto 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px; }

.tariffs-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 auto 30px;
  width: 100px;
  height: 100px;
  padding: 30px; }

.tariffs-box__title {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px; }

.list-parameters {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 30px; }
  .list-parameters li {
    margin: 0 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .list-parameters li:last-child {
      margin: 0; }
    .list-parameters li:nth-child(2), .list-parameters li:nth-child(5), .list-parameters li:nth-child(6), .list-parameters li:nth-child(9) {
      min-height: 80px; }
    .list-parameters li:nth-child(3), .list-parameters li:nth-child(8), .list-parameters li:nth-child(10) {
      min-height: 40px; }
  .list-parameters p {
    display: none; }
  .list-parameters span {
    text-align: center; }

footer {
  background: #F3F3F3;
  padding: 40px 0 65px;
  margin: 80px 0 0; }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  footer h3 {
    color: #838383;
    font-weight: 500;
    margin: 0 0 10px; }
  footer .phone {
    margin: 20px 0 0; }
  footer p {
    color: #838383;
    font-weight: 500; }

.logo-footer {
  max-width: 210px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.copyright {
  margin: 15px 0 0;
  font-size: 14px;
  color: #838383;
  max-width: 230px;
  width: 100%; }

.footer-menu li {
  margin: 0 0 10px; }
  .footer-menu li:last-child {
    margin: 0; }
  .footer-menu li a {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
    line-height: 30px; }
    .footer-menu li a:hover {
      color: #41B64B; }

.logo-developer {
  margin: 10px 0 0;
  max-width: 130px;
  width: 100%; }

.affairs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.affairs-box {
  width: 49.2%;
  min-height: 560px;
  border: 1px solid #E5E5E5;
    border-radius: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  font-weight: 500; }
  .affairs-box h3 {
    font-size: 20px;
    margin: 0 0 10px; }
  .affairs-box .box-text {
    font-size: 14px;
    line-height: 20px;
    color: #838383;
    margin: 0 0 20px; }
    .affairs-box .box-text p {
      margin: 0 0 10px; }
      .affairs-box .box-text p:last-child {
        margin: 0; }

.affairs-box__img {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .affairs-box__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.affairs-box__content {
  width: calc(100% - 270px);
  padding: 20px 20px 20px 25px; }

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #464646;
  font-size: 14px;
  font-weight: 500; }
  .link:hover {
    color: #41B64B; }

.link-icon {
  margin: 0 13px 0 0;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .link-icon .icon-svg {
    fill: #838383; }

.link-text {
  border-bottom: 1px solid #41B64B; }

.about-company .container:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 20px solid #F3F3F3;
    border-radius: 400px;
  background: #FFFFFF;
  min-width: 1828px; }

.about-company .container > * {
  position: relative; }

.about-company__wrapper {
  width: 100%;
  padding: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 1; }
  .about-company__wrapper h3 {
    margin: 0 0 20px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 500; }
  .about-company__wrapper .box-text {
    line-height: 30px;
    margin: 0 0 20px; }

.about-company__img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px solid #41B64B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }
  .about-company__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.about-company__content {
  width: calc(100% - 500px);
  padding: 0 75px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.publications h2 {
  margin: 0 auto 20px; }

.publications .publications-box {
  max-width: 440px; }

.publications-box {
  height: 480px;
  width: 100%;
  border: 1px solid #E5E5E5;
    border-radius: 10px;
  background: #fff;
  overflow: hidden;
  margin: 0 0 20px; }
  .publications-box .box-text {
    position: relative;
    height: 80px;
    color: #838383;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden; }
    .publications-box .box-text:before {
      content: '';
      position: absolute;
      left: 0;
      top: 38px;
      width: 100%;
      height: 82px;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(63.41%, #FFFFFF), color-stop(140.85%, rgba(255, 255, 255, 0)));
      background: linear-gradient(360deg, #FFFFFF 63.41%, rgba(255, 255, 255, 0) 140.85%); }

.publications-box__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 220px; }
  .publications-box__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.publications-box__content {
  height: calc(100% - 220px);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .publications-box__content .date {
    margin: auto 0 15px;
    position: relative;
    z-index: 1; }

.publications-box__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #464646;
  width: 100%;
  margin: 0 0 10px; }

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #838383;
  font-size: 14px; }

.date-icon {
  margin: 0 12px 0 0;
  width: 16px;
  height: 15px; }
  .date-icon .icon-svg {
    fill: #838383; }

.btn-burger {
  width: 20px;
  height: 14px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .btn-burger span {
    background: #41B64B;
    width: 100%;
    display: block;
    height: 2px;
    border-radius: 2px; }

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #41B64B;
  opacity: .7; }

.mobile-menu {
  max-width: 280px;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 7;
  padding: 30px 20px;
  display: none; }
  .mobile-menu .logo {
    margin: 0 auto 30px;
    max-width: 200px; }
  .mobile-menu .menu {
    margin: 0 0 30px;
    border-top: 1px solid rgba(70, 70, 70, 0.2);
    padding: 10px 0 0;
    display: block; }
    .mobile-menu .menu:last-child {
      margin: 0; }
    .mobile-menu .menu li {
      margin: 0 0 15px;
      display: block; }
      .mobile-menu .menu li a {
        font-size: 14px; }

.btn-close {
  width: 20px;
  height: 20px;
  margin: 0 0 30px auto;
  cursor: pointer; }
  .btn-close .icon-svg {
    fill: #41B64B; }

.links-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #464646;
  font-size: 14px;
  font-weight: 500; }
  .links-edit:hover {
    color: #41B64B; }

.links-edit-icon {
  width: 13px;
  height: 7px;
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .links-edit-icon .icon-svg {
    fill: none;
    stroke: #464646; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 24px auto 15px; }
  .breadcrumbs li {
    margin: 0 10px 0 0; }
    .breadcrumbs li:last-child {
      margin: 0; }

h1 {
  width: 100%;
  text-align: center;
  margin: 0 auto 30px;
  font-size: 60px;
  font-weight: 500; }

.row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.col-3 {
  width: 33.3%;
  padding: 0 10px; }

.mb-20 {
  margin-bottom: 20px; }

.news .btn {
  margin: 10px auto 0; }

.article {
  margin: 0 0 20px; }
  .article .container {
    position: relative;
    min-height: 600px;
    padding: 30px 20px; }
    .article .container:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 1; }

.article-content {
  position: relative;
  z-index: 1; }

.article-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.article-wrapper .container {
  max-width: 650px; }

.article-wrapper .box-text {
  margin-bottom: 20px;
  line-height: 30px; }
  .article-wrapper .box-text:last-child {
    margin: 0; }

.article-wrapper .date {
  margin: 0 0 20px; }

.article-wrapper h2 {
  text-align: left;
  margin: 0 0 10px; }

.article-wrapper h3 {
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 10px; }

.article-wrapper h4 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px; }

.article-wrapper ul {
  width: 100%;
  line-height: 30px;
  margin: 0 0 20px; }
  .article-wrapper ul:last-child {
    margin: 0; }
  .article-wrapper ul li {
    margin: 0 0 10px; }
    .article-wrapper ul li:last-child {
      margin: 0; }

.list-dots li {
  position: relative;
  padding: 0 0 0 22px; }
  .list-dots li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    background: #41B64B;
    width: 4px;
    height: 4px;
    border-radius: 50%; }

.image-wrapper {
  width: 100%; }
  .image-wrapper img {
    width: 100%; }

.photo-caption {
  width: 100%;
  text-align: center;
  margin: 10px 0 20px;
  color: #838383;
  font-size: 14px; }

.list-number {
  counter-reset: item; }
  .list-number li {
    position: relative;
    padding: 0 0 0 30px; }
    .list-number li:before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      margin: 0 10px 0 0;
      display: inline-block;
      color: #41B64B;
      position: absolute;
      left: 0;
      top: 0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1250px) {
  .tariffs-box {
    max-width: 240px; } }

@media only screen and (max-width: 1199px) {
  .main-slider__title {
    font-size: 40px;
    line-height: normal; }
  .main-slider__content .text {
    line-height: 24px; }
  .main-slider__img {
    max-width: 480px; }
  .main-slider__content {
    width: calc(100% - 480px);
    padding: 14px 0 0; }
  .menu li {
    margin: 0 20px 0 0; }
  .logo {
    max-width: 170px; }
  .phone {
    font-size: 14px; }
  .stages-box:after {
    width: 60px;
    right: -35px; }
  .tariffs-wrapper-content {
    padding-left: 0;
    max-width: 292px; }
  .publications .publications-box {
    max-width: 98%; }
  h1 {
    font-size: 50px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1060px) {
  .tariffs-wrapper-content {
    display: none; }
  .tariffs-box {
    max-width: 33%; }
  .list-parameters {
    line-height: normal; }
    .list-parameters li p {
      display: block;
      font-size: 12px; }
    .list-parameters li:nth-child(2), .list-parameters li:nth-child(3), .list-parameters li:nth-child(8), .list-parameters li:nth-child(10), .list-parameters li:nth-child(5), .list-parameters li:nth-child(6), .list-parameters li:nth-child(9) {
      min-height: auto; }
    .list-parameters li span {
      font-weight: bold;
      margin: 5px 0 0; }
  .affairs-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .affairs-box__img {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .affairs-box__content {
    width: 100%;
    padding: 20px; }
  .about-company__wrapper {
    padding: 30px; }
    .about-company__wrapper .box-text {
      font-size: 14px;
      line-height: normal; }
  .about-company__img {
    width: 400px;
    height: 400px; }
  .about-company__content {
    width: calc(100% - 400px);
    padding: 0 30px 0 0; }
  .about-company__wrapper h3 {
    font-size: 24px;
    line-height: normal; }
  .publications-box__title {
    font-size: 16px;
    line-height: normal; }
  .publications-box__img {
    height: 170px; }
  .publications-box {
    height: 420px; }
  .publications-box__content {
    height: calc(100% - 170px); } }

@media only screen and (max-width: 992px) {
  .main-slider__title {
    font-size: 28px; }
  .main-slider__content .text {
    font-size: 14px; }
  header .menu {
    display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 20px; }
  header .phone {
    margin: 0 auto; }
  header {
    padding: 10px 0; }
  .counter-slide {
    font-size: 18px; }
  .main-slider__img {
    max-width: 300px;
    margin: -20px 0 -15px -20px; }
  .main-slider__content {
    width: calc(100% - 300px);
    padding: 0; }
  .main-slider__nav {
    margin: 20px auto 0; }
  .links-border, .btn {
    font-size: 14px; }
  .stages-box {
    font-size: 16px;
    line-height: normal; }
    .stages-box a {
      font-size: inherit; }
    .stages-box::after {
      top: 70px; }
  .stages-box__text {
    line-height: normal; }
  .stages-box__icon {
    width: 150px;
    height: 150px;
    padding: 40px;
    border-width: 6px; }
  .footer-box {
    max-width: 200px; }
    .footer-box p {
      font-size: 14px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 850px) {
  h2 {
    font-size: 30px;
    margin: 0 auto 20px; }
  .mb-80 {
    margin-bottom: 60px; }
  .stages-box {
    width: 49%;
    margin: 0 auto 30px; }
    .stages-box::after {
      display: none; }
  .stages-box__text {
    max-width: none; }
    .stages-box__text br {
      display: none; }
  .tariffs-box__price {
    font-size: 24px; }
  .about-company__img {
    width: 300px;
    height: 300px;
    border-right-width: 5px; }
  .about-company__content {
    width: calc(100% - 300px); }
  .about-company__wrapper {
    padding-left: 0; }
    .about-company__wrapper h3 {
      font-size: 20px; }
  h1 {
    font-size: 40px; }
  .breadcrumbs {
    margin: 20px 0 10px; } }

@media only screen and (max-width: 768px) {
  .main-slider__title {
    font-size: 24px; }
  .main-slider__content .text {
    line-height: normal; }
  .button-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .button-group .btn {
      margin: 0 0 10px; }
  .tariffs-box__title {
    font-size: 24px;
    line-height: normal; }
  .tariffs-box__icon {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 0 auto 20px; }
  .affairs-box h3 {
    font-size: 18px; }
  footer {
    margin: 40px 0 0;
    padding: 30px 0; }
  .footer-menu li a {
    line-height: normal; }
  .footer-box:last-child {
    text-align: center;
    width: 100%;
    max-width: none;
    margin: 20px auto 0; }
  .logo-developer {
    margin: 10px auto 0; }
  h1 {
    font-size: 30px; }
  .col-3 {
    width: 50%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 700px) {
  .main-slider__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 10px solid #F3F3F3;
      border-radius: 20px; }
  .main-slider__img {
    margin: -10px auto 30px; }
  .main-slider__content {
    width: 100%;
    padding: 0 20px 30px; }
  .button-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .button-group .btn {
      margin: 0; }
  .main-slider__title {
    text-align: center;
    font-size: 20px; } }

@media only screen and (max-width: 630px) {
  .links-cabinet__text {
    display: none; }
  .links-cabinet__icon {
    margin: 0; }
  .phone {
    padding: 3px 5px; }
  .phone-icon {
    margin: 0 0 0 5px; }
  .tariffs-box {
    max-width: 100%;
    margin: 0 0 30px; }
  .about-company__content {
    width: 100%;
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 30px auto 0; }
  .about-company .container:before {
    border-width: 10px; }
  .about-company__img {
    margin: 0 auto;
    width: 240px;
    height: 240px;
    border-width: 6px; } }

@media only screen and (max-width: 575px) {
  .affairs-box {
    width: 100%;
    margin: 0 0 30px; }
    .affairs-box:last-child {
      margin: 0; }
  .footer-box:first-child {
    width: 100%;
    max-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto 10px; }
  .logo-footer {
    margin: 0 auto; }
  .copyright {
    margin: 10px auto 0;
    max-width: none;
    font-size: 14px; }
  .col-3 {
    width: 100%; }
  .article .container {
    min-height: 400px; } }

@media only screen and (max-width: 480px) {
  .logo {
    max-width: 150px; }
  .button-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .button-group .btn {
      margin: 0 auto 10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  header .phone {
    border: none;
    padding: 0; }
  header .phone-text {
    display: none; }
  header .phone-icon {
    margin: 0; }
  .stages-box {
    width: 100%; }
  h2 {
    font-size: 24px; }
  .affairs-box__img {
    height: 150px; }
  .mb-80 {
    margin-bottom: 50px; }
  .footer-menu li a {
    font-size: 12px; }
  footer h3 {
    font-size: 14px; }
  .logo-footer {
    max-width: 180px; }
  .article-wrapper h3 {
    font-size: 20px; }
  .article-wrapper h4 {
    font-size: 18px; }
  .article-wrapper .box-text, .article-wrapper ul {
    font-size: 14px;
    line-height: normal; } }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
